isc-main/isc-integration-mip/src/main/resources/wsdl/AlarmServiceToken/AlarmServiceToken_xsd4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="./AlarmServiceToken_xsd1.xsd"/>
	<xs:complexType name="ArrayOfbase64Binary">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="base64Binary" nillable="true" type="xs:base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfbase64Binary" nillable="true" type="tns:ArrayOfbase64Binary"/>
	<xs:complexType name="ArrayOfstring">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/>
	<xs:complexType name="ArrayOfguid">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="guid" type="ser:guid"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfguid" nillable="true" type="tns:ArrayOfguid"/>
	<xs:complexType name="ArrayOfanyType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfanyType" nillable="true" type="tns:ArrayOfanyType"/>
</xs:schema>