isc-main/isc-integration-mip/src/main/resources/wsdl/AlarmServiceToken/AlarmServiceToken_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoOS.Platform.Proxy.Alarm" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/VideoOS.Platform.Proxy.Alarm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="./AlarmServiceToken_xsd4.xsd"/>
	<xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="./AlarmServiceToken_xsd1.xsd"/>
	<xs:import namespace="urn:milestone-systems" schemaLocation="./AlarmServiceToken_xsd2.xsd"/>
	<xs:complexType name="AlarmServiceFault">
		<xs:sequence>
			<xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ErrorReason" type="tns:AlarmFaultType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlarmServiceFault" nillable="true" type="tns:AlarmServiceFault"/>
	<xs:simpleType name="AlarmFaultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UnknownSession"/>
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="DbRead"/>
			<xs:enumeration value="Read"/>
			<xs:enumeration value="DbConnection"/>
			<xs:enumeration value="Serialization"/>
			<xs:enumeration value="DbWrite"/>
			<xs:enumeration value="DbUpdate"/>
			<xs:enumeration value="InvalidAuthentication"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AlarmFaultType" nillable="true" type="tns:AlarmFaultType"/>
	<xs:complexType name="AlarmFilter">
		<xs:sequence>
			<xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfCondition"/>
			<xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderBy"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlarmFilter" nillable="true" type="tns:AlarmFilter"/>
	<xs:complexType name="ArrayOfCondition">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Condition" nillable="true" type="tns:Condition"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfCondition" nillable="true" type="tns:ArrayOfCondition"/>
	<xs:complexType name="Condition">
		<xs:sequence>
			<xs:element minOccurs="0" name="Operator" type="tns:Operator"/>
			<xs:element minOccurs="0" name="Target" type="tns:Target"/>
			<xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Condition" nillable="true" type="tns:Condition"/>
	<xs:simpleType name="Operator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Equals"/>
			<xs:enumeration value="NotEquals"/>
			<xs:enumeration value="LessThan"/>
			<xs:enumeration value="GreaterThan"/>
			<xs:enumeration value="Contains"/>
			<xs:enumeration value="BeginsWith"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Operator" nillable="true" type="tns:Operator"/>
	<xs:simpleType name="Target">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LocalId"/>
			<xs:enumeration value="Id"/>
			<xs:enumeration value="State"/>
			<xs:enumeration value="Priority"/>
			<xs:enumeration value="Timestamp"/>
			<xs:enumeration value="SourceName"/>
			<xs:enumeration value="Name"/>
			<xs:enumeration value="AssignedTo"/>
			<xs:enumeration value="Type"/>
			<xs:enumeration value="RuleType"/>
			<xs:enumeration value="Location"/>
			<xs:enumeration value="Message"/>
			<xs:enumeration value="CustomTag"/>
			<xs:enumeration value="VendorName"/>
			<xs:enumeration value="ObjectValue"/>
			<xs:enumeration value="Description"/>
			<xs:enumeration value="ObjectId"/>
			<xs:enumeration value="Modified"/>
			<xs:enumeration value="PriorityName"/>
			<xs:enumeration value="Category"/>
			<xs:enumeration value="CategoryName"/>
			<xs:enumeration value="StateName"/>
			<xs:enumeration value="CameraId"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Target" nillable="true" type="tns:Target"/>
	<xs:complexType name="ArrayOfOrderBy">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="OrderBy" nillable="true" type="tns:OrderBy"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfOrderBy" nillable="true" type="tns:ArrayOfOrderBy"/>
	<xs:complexType name="OrderBy">
		<xs:sequence>
			<xs:element minOccurs="0" name="Order" type="tns:Order"/>
			<xs:element minOccurs="0" name="Target" type="tns:Target"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderBy" nillable="true" type="tns:OrderBy"/>
	<xs:simpleType name="Order">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ascending"/>
			<xs:enumeration value="Descending"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Order" nillable="true" type="tns:Order"/>
	<xs:complexType name="AlarmUpdateData">
		<xs:sequence>
			<xs:element minOccurs="0" name="Deleted" nillable="true" type="q1:ArrayOfguid" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<xs:element minOccurs="0" name="Inserted" nillable="true" type="tns:ArrayOfAlarmLine"/>
			<xs:element minOccurs="0" name="Updated" nillable="true" type="tns:ArrayOfAlarmLine"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlarmUpdateData" nillable="true" type="tns:AlarmUpdateData"/>
	<xs:complexType name="ArrayOfAlarmLine">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AlarmLine" nillable="true" type="tns:AlarmLine"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfAlarmLine" nillable="true" type="tns:ArrayOfAlarmLine"/>
	<xs:complexType name="AlarmLine">
		<xs:sequence>
			<xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="CameraId" type="ser:guid"/>
			<xs:element minOccurs="0" name="Category" type="xs:unsignedShort"/>
			<xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="CustomTag" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="FilterMatch" type="xs:boolean"/>
			<xs:element minOccurs="0" name="Id" type="ser:guid"/>
			<xs:element minOccurs="0" name="LocalId" type="xs:int"/>
			<xs:element minOccurs="0" name="Location" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Modified" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ObjectValue" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Priority" type="xs:unsignedShort"/>
			<xs:element minOccurs="0" name="PriorityName" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="RuleType" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="SourceId" type="ser:guid"/>
			<xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="State" type="xs:unsignedShort"/>
			<xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlarmLine" nillable="true" type="tns:AlarmLine"/>
	<xs:complexType name="ArrayOfAlarmSearchCriteria">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AlarmSearchCriteria" nillable="true" type="tns:AlarmSearchCriteria"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfAlarmSearchCriteria" nillable="true" type="tns:ArrayOfAlarmSearchCriteria"/>
	<xs:complexType name="AlarmSearchCriteria">
		<xs:sequence>
			<xs:element minOccurs="0" name="Criteria" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Values" nillable="true" type="q2:ArrayOfanyType" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlarmSearchCriteria" nillable="true" type="tns:AlarmSearchCriteria"/>
	<xs:complexType name="NameNumberPairValue">
		<xs:sequence>
			<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Number" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NameNumberPairValue" nillable="true" type="tns:NameNumberPairValue"/>
	<xs:complexType name="EventFilter">
		<xs:sequence>
			<xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfCondition"/>
			<xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderBy"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EventFilter" nillable="true" type="tns:EventFilter"/>
	<xs:complexType name="EventUpdateData">
		<xs:sequence>
			<xs:element minOccurs="0" name="Deleted" nillable="true" type="q3:ArrayOfguid" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<xs:element minOccurs="0" name="Inserted" nillable="true" type="tns:ArrayOfEventLine"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EventUpdateData" nillable="true" type="tns:EventUpdateData"/>
	<xs:complexType name="ArrayOfEventLine">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="EventLine" nillable="true" type="tns:EventLine"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfEventLine" nillable="true" type="tns:ArrayOfEventLine"/>
	<xs:complexType name="EventLine">
		<xs:sequence>
			<xs:element minOccurs="0" name="CameraId" type="ser:guid"/>
			<xs:element minOccurs="0" name="CustomTag" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Id" type="ser:guid"/>
			<xs:element minOccurs="0" name="LocalId" type="xs:int"/>
			<xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="ObjectValue" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="RuleType" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="SourceId" type="ser:guid"/>
			<xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EventLine" nillable="true" type="tns:EventLine"/>
	<xs:complexType name="ArrayOfStatistic">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Statistic" nillable="true" type="tns:Statistic"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfStatistic" nillable="true" type="tns:ArrayOfStatistic"/>
	<xs:complexType name="Statistic">
		<xs:sequence>
			<xs:element minOccurs="0" name="Number" type="xs:int"/>
			<xs:element minOccurs="0" name="Type" type="tns:StatisticType"/>
			<xs:element minOccurs="0" name="Value" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Statistic" nillable="true" type="tns:Statistic"/>
	<xs:simpleType name="StatisticType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Total"/>
			<xs:enumeration value="Priority"/>
			<xs:enumeration value="State"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="StatisticType" nillable="true" type="tns:StatisticType"/>
	<xs:complexType name="ArrayOfAlarmHistory">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AlarmHistory" nillable="true" type="tns:AlarmHistory"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfAlarmHistory" nillable="true" type="tns:ArrayOfAlarmHistory"/>
	<xs:complexType name="AlarmHistory">
		<xs:sequence>
			<xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Author" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Priority" type="xs:int"/>
			<xs:element minOccurs="0" name="State" type="xs:int"/>
			<xs:element minOccurs="0" name="Text" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Time" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlarmHistory" nillable="true" type="tns:AlarmHistory"/>
	<xs:complexType name="ArrayOfAlarmUpdate">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AlarmUpdate" nillable="true" type="tns:AlarmUpdate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfAlarmUpdate" nillable="true" type="tns:ArrayOfAlarmUpdate"/>
	<xs:complexType name="AlarmUpdate">
		<xs:sequence>
			<xs:element minOccurs="0" name="Author" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Key" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Time" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlarmUpdate" nillable="true" type="tns:AlarmUpdate"/>
	<xs:complexType name="GetEventLines2Params">
		<xs:sequence>
			<xs:element minOccurs="0" name="Page" type="xs:int"/>
			<xs:element minOccurs="0" name="PageSize" type="xs:int"/>
			<xs:element minOccurs="0" name="SearchGroup" nillable="true" type="tns:SearchGroup"/>
			<xs:element minOccurs="0" name="SearchId" type="ser:guid"/>
			<xs:element minOccurs="0" name="SearchOrders" nillable="true" type="tns:SearchOrders"/>
			<xs:element minOccurs="0" name="TruePaging" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetEventLines2Params" nillable="true" type="tns:GetEventLines2Params"/>
	<xs:complexType name="SearchGroup">
		<xs:sequence>
			<xs:element minOccurs="0" name="GroupOperator" type="tns:LogicalOperator"/>
			<xs:element minOccurs="0" name="SearchElements" nillable="true" type="tns:ArrayOfSearchElement"/>
			<xs:element minOccurs="0" name="SearchGroups" nillable="true" type="tns:ArrayOfSearchGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchGroup" nillable="true" type="tns:SearchGroup"/>
	<xs:simpleType name="LogicalOperator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="And"/>
			<xs:enumeration value="Or"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LogicalOperator" nillable="true" type="tns:LogicalOperator"/>
	<xs:complexType name="ArrayOfSearchElement">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SearchElement" nillable="true" type="tns:SearchElement"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfSearchElement" nillable="true" type="tns:ArrayOfSearchElement"/>
	<xs:complexType name="SearchElement">
		<xs:sequence>
			<xs:element minOccurs="0" name="SearchOperator" type="tns:SearchOperator"/>
			<xs:element minOccurs="0" name="SearchTarget" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchElement" nillable="true" type="tns:SearchElement"/>
	<xs:simpleType name="SearchOperator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Equals"/>
			<xs:enumeration value="NotEquals"/>
			<xs:enumeration value="LessThan"/>
			<xs:enumeration value="GreaterThan"/>
			<xs:enumeration value="Contains"/>
			<xs:enumeration value="BeginsWith"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SearchOperator" nillable="true" type="tns:SearchOperator"/>
	<xs:complexType name="ArrayOfSearchGroup">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SearchGroup" nillable="true" type="tns:SearchGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfSearchGroup" nillable="true" type="tns:ArrayOfSearchGroup"/>
	<xs:complexType name="SearchOrders">
		<xs:sequence>
			<xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfSearchOrder"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchOrders" nillable="true" type="tns:SearchOrders"/>
	<xs:complexType name="ArrayOfSearchOrder">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SearchOrder" nillable="true" type="tns:SearchOrder"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfSearchOrder" nillable="true" type="tns:ArrayOfSearchOrder"/>
	<xs:complexType name="SearchOrder">
		<xs:sequence>
			<xs:element minOccurs="0" name="Direction" type="tns:Direction"/>
			<xs:element minOccurs="0" name="Target" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchOrder" nillable="true" type="tns:SearchOrder"/>
	<xs:simpleType name="Direction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ascending"/>
			<xs:enumeration value="Descending"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Direction" nillable="true" type="tns:Direction"/>
	<xs:complexType name="GetEventLines2Resp">
		<xs:sequence>
			<xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfEventLine"/>
			<xs:element minOccurs="0" name="SearchId" type="ser:guid"/>
			<xs:element minOccurs="0" name="TruePaging" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetEventLines2Resp" nillable="true" type="tns:GetEventLines2Resp"/>
	<xs:complexType name="GetEventCountParams">
		<xs:sequence>
			<xs:element minOccurs="0" name="SearchGroup" nillable="true" type="tns:SearchGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetEventCountParams" nillable="true" type="tns:GetEventCountParams"/>
	<xs:complexType name="GetEventCountResp">
		<xs:sequence>
			<xs:element minOccurs="0" name="Count" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetEventCountResp" nillable="true" type="tns:GetEventCountResp"/>
	<xs:complexType name="GetEventsParams">
		<xs:sequence>
			<xs:element minOccurs="0" name="EventIds" nillable="true" type="q4:ArrayOfguid" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetEventsParams" nillable="true" type="tns:GetEventsParams"/>
	<xs:complexType name="GetEventsResp">
		<xs:sequence>
			<xs:element minOccurs="0" name="Events" nillable="true" type="q5:ArrayOfBaseEvent" xmlns:q5="urn:milestone-systems"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetEventsResp" nillable="true" type="tns:GetEventsResp"/>
</xs:schema>