isc-main/isc-integration-mip/src/main/resources/wsdl/RecorderStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://video.net/2/XProtectCSRecorderStatus2" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://video.net/2/XProtectCSRecorderStatus2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://video.net/2/XProtectCSRecorderStatus2">
			<s:import namespace="http://microsoft.com/wsdl/types/"/>
			<s:element name="GetVersion">
				<s:complexType/>
			</s:element>
			<s:element name="GetVersionResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="1" name="GetVersionResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartStatusSession">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StartStatusSessionResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="1" name="StartStatusSessionResult" type="s1:guid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StopStatusSession">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="1" name="statusSessionId" type="s1:guid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="StopStatusSessionResponse">
				<s:complexType/>
			</s:element>
			<s:element name="SubscribeEventStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="1" name="statusSessionId" type="s1:guid"/>
						<s:element maxOccurs="1" minOccurs="0" name="eventIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfGuid">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="guid" type="s1:guid"/>
				</s:sequence>
			</s:complexType>
			<s:element name="SubscribeEventStatusResponse">
				<s:complexType/>
			</s:element>
			<s:element name="SubscribeDeviceStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="1" name="statusSessionId" type="s1:guid"/>
						<s:element maxOccurs="1" minOccurs="0" name="deviceIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SubscribeDeviceStatusResponse">
				<s:complexType/>
			</s:element>
			<s:element name="SubscribeHardwareStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="1" name="statusSessionId" type="s1:guid"/>
						<s:element maxOccurs="1" minOccurs="0" name="hardwareIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SubscribeHardwareStatusResponse">
				<s:complexType/>
			</s:element>
			<s:element name="SubscribeConfigurationStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="1" name="statusSessionId" type="s1:guid"/>
						<s:element maxOccurs="1" minOccurs="1" name="subscribe" type="s:boolean"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SubscribeConfigurationStatusResponse">
				<s:complexType/>
			</s:element>
			<s:element name="GetStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="1" name="statusSessionId" type="s1:guid"/>
						<s:element maxOccurs="1" minOccurs="1" name="millisecondsTimeout" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetStatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetStatusResult" type="tns:Status"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Status">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="CameraDeviceStatusArray" type="tns:ArrayOfCameraDeviceStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="InputDeviceStatusArray" type="tns:ArrayOfInputDeviceStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="OutputDeviceStatusArray" type="tns:ArrayOfOutputDeviceStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="MicrophoneDeviceStatusArray" type="tns:ArrayOfMicrophoneDeviceStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="SpeakerDeviceStatusArray" type="tns:ArrayOfSpeakerDeviceStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="MetadataDeviceStatusArray" type="tns:ArrayOfMetadataDeviceStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="EventStatusArray" type="tns:ArrayOfEventStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="HardwareStatusArray" type="tns:ArrayOfHardwareStatus"/>
					<s:element maxOccurs="1" minOccurs="0" name="ConfigurationChangedStatus" type="tns:ConfigurationChangedStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCameraDeviceStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="CameraDeviceStatus" nillable="true" type="tns:CameraDeviceStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="CameraDeviceStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:MediaStreamDeviceStatusBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="1" name="Motion" type="s:boolean"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="MediaStreamDeviceStatusBase">
				<s:complexContent mixed="false">
					<s:extension base="tns:DeviceStatusBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="1" name="Recording" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="DbMoveInProgress" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="ErrorOverflow" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="ErrorWritingGop" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="DbRepairInProgress" type="s:boolean"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="DeviceStatusBase">
				<s:complexContent mixed="false">
					<s:extension base="tns:StatusBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="1" name="DeviceId" type="s1:guid"/>
							<s:element maxOccurs="1" minOccurs="1" name="IsChange" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="Enabled" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="Started" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="Error" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="ErrorNotLicensed" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="ErrorNoConnection" type="s:boolean"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="StatusBase">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Time" type="s:dateTime"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ConfigurationChangedStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:StatusBase"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="HardwareStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:StatusBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="1" name="HardwareId" type="s1:guid"/>
							<s:element maxOccurs="1" minOccurs="1" name="IsChange" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="Enabled" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="Started" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="Error" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="ErrorNotLicensed" type="s:boolean"/>
							<s:element maxOccurs="1" minOccurs="1" name="ErrorNoConnection" type="s:boolean"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="EventStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:StatusBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="1" name="EventId" type="s1:guid"/>
							<s:element maxOccurs="1" minOccurs="1" name="SourceId" type="s1:guid"/>
							<s:element maxOccurs="1" minOccurs="0" name="Metadata" type="tns:ArrayOfKeyValue"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfKeyValue">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="KeyValue" nillable="true" type="tns:KeyValue"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="KeyValue">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="Key" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="Value" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="IODeviceStatusBase">
				<s:complexContent mixed="false">
					<s:extension base="tns:DeviceStatusBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="1" name="State" type="tns:IOState"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:simpleType name="IOState">
				<s:restriction base="s:string">
					<s:enumeration value="Activated"/>
					<s:enumeration value="Deactivated"/>
					<s:enumeration value="NotAvailable"/>
				</s:restriction>
			</s:simpleType>
			<s:complexType name="OutputDeviceStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:IODeviceStatusBase"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="InputDeviceStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:IODeviceStatusBase"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="MetadataDeviceStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:MediaStreamDeviceStatusBase"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="SpeakerDeviceStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:MediaStreamDeviceStatusBase"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="MicrophoneDeviceStatus">
				<s:complexContent mixed="false">
					<s:extension base="tns:MediaStreamDeviceStatusBase"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfInputDeviceStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="InputDeviceStatus" nillable="true" type="tns:InputDeviceStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfOutputDeviceStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="OutputDeviceStatus" nillable="true" type="tns:OutputDeviceStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfMicrophoneDeviceStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="MicrophoneDeviceStatus" nillable="true" type="tns:MicrophoneDeviceStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfSpeakerDeviceStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="SpeakerDeviceStatus" nillable="true" type="tns:SpeakerDeviceStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfMetadataDeviceStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="MetadataDeviceStatus" nillable="true" type="tns:MetadataDeviceStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfEventStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="EventStatus" nillable="true" type="tns:EventStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfHardwareStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="HardwareStatus" nillable="true" type="tns:HardwareStatus"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetCurrentDeviceStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="0" name="deviceIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCurrentDeviceStatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetCurrentDeviceStatusResult" type="tns:Status"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCurrentHardwareStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="0" name="hardwareIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCurrentHardwareStatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetCurrentHardwareStatusResult" type="tns:Status"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetRecorderStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetRecorderStatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetRecorderStatusResult" type="tns:AttachAndConnectionState"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="AttachAndConnectionState">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="AttachState" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="ConnectionState" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetRecordingStorageStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetRecordingStorageStatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetRecordingStorageStatusResult" type="tns:ArrayOfStorageStatus"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfStorageStatus">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="StorageStatus" nillable="true" type="tns:StorageStatus"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="StorageStatus">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="StorageId" type="s1:guid"/>
					<s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="Path" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="Available" type="s:boolean"/>
					<s:element maxOccurs="1" minOccurs="1" name="UsedSpaceInBytes" type="s:unsignedLong"/>
					<s:element maxOccurs="1" minOccurs="1" name="FreeSpaceInBytes" type="s:unsignedLong"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetArchiveStorageStatus">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetArchiveStorageStatusResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetArchiveStorageStatusResult" type="tns:ArrayOfStorageStatus"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetVideoDeviceStatistics">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="0" name="deviceIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetVideoDeviceStatisticsResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetVideoDeviceStatisticsResult" type="tns:ArrayOfVideoDeviceStatistics"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfVideoDeviceStatistics">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="VideoDeviceStatistics" nillable="true" type="tns:VideoDeviceStatistics"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="VideoDeviceStatistics">
				<s:complexContent mixed="false">
					<s:extension base="tns:DeviceStatisticsBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="0" name="VideoStreamStatisticsArray" type="tns:ArrayOfVideoStreamStatistics"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="DeviceStatisticsBase">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="DeviceId" type="s1:guid"/>
					<s:element maxOccurs="1" minOccurs="1" name="UsedSpaceInBytes" type="s:unsignedLong"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfVideoStreamStatistics">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="VideoStreamStatistics" nillable="true" type="tns:VideoStreamStatistics"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="VideoStreamStatistics">
				<s:complexContent mixed="false">
					<s:extension base="tns:MediaStreamStatisticsBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="1" name="ImageResolution" type="tns:Size"/>
							<s:element maxOccurs="1" minOccurs="0" name="VideoFormat" type="s:string"/>
							<s:element maxOccurs="1" minOccurs="1" name="ImageSizeInBytes" type="s:unsignedLong"/>
							<s:element maxOccurs="1" minOccurs="1" name="FPSRequested" type="s:double"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="MediaStreamStatisticsBase">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="StreamId" type="s1:guid"/>
					<s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="RecordingStream" type="s:boolean"/>
					<s:element maxOccurs="1" minOccurs="1" name="LiveStream" type="s:boolean"/>
					<s:element maxOccurs="1" minOccurs="1" name="LiveStreamDefault" type="s:boolean"/>
					<s:element maxOccurs="1" minOccurs="1" name="LiveStreamRunAlways" type="s:boolean"/>
					<s:element maxOccurs="1" minOccurs="1" name="BPS" type="s:unsignedLong"/>
					<s:element maxOccurs="1" minOccurs="1" name="FPS" type="s:double"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Size">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Width" type="s:int"/>
					<s:element maxOccurs="1" minOccurs="1" name="Height" type="s:int"/>
				</s:sequence>
			</s:complexType>
			<s:element name="GetAudioDeviceStatistics">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="0" name="deviceIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAudioDeviceStatisticsResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetAudioDeviceStatisticsResult" type="tns:ArrayOfAudioDeviceStatistics"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfAudioDeviceStatistics">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="AudioDeviceStatistics" nillable="true" type="tns:AudioDeviceStatistics"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="AudioDeviceStatistics">
				<s:complexContent mixed="false">
					<s:extension base="tns:DeviceStatisticsBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="0" name="AudioStreamStatisticsArray" type="tns:ArrayOfAudioStreamStatistics"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfAudioStreamStatistics">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="AudioStreamStatistics" nillable="true" type="tns:AudioStreamStatistics"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="AudioStreamStatistics">
				<s:complexContent mixed="false">
					<s:extension base="tns:MediaStreamStatisticsBase"/>
				</s:complexContent>
			</s:complexType>
			<s:element name="GetMetadataDeviceStatistics">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="token" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="0" name="deviceIds" type="tns:ArrayOfGuid"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetMetadataDeviceStatisticsResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetMetadataDeviceStatisticsResult" type="tns:ArrayOfMetadataDeviceStatistics"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfMetadataDeviceStatistics">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="MetadataDeviceStatistics" nillable="true" type="tns:MetadataDeviceStatistics"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="MetadataDeviceStatistics">
				<s:complexContent mixed="false">
					<s:extension base="tns:DeviceStatisticsBase">
						<s:sequence>
							<s:element maxOccurs="1" minOccurs="0" name="MetadataStreamStatisticsArray" type="tns:ArrayOfMetadataStreamStatistics"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ArrayOfMetadataStreamStatistics">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="MetadataStreamStatistics" nillable="true" type="tns:MetadataStreamStatistics"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="MetadataStreamStatistics">
				<s:complexContent mixed="false">
					<s:extension base="tns:MediaStreamStatisticsBase"/>
				</s:complexContent>
			</s:complexType>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
			<s:simpleType name="guid">
				<s:restriction base="s:string">
					<s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</s:restriction>
			</s:simpleType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetVersionSoapIn">
		<wsdl:part element="tns:GetVersion" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetVersionSoapOut">
		<wsdl:part element="tns:GetVersionResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StartStatusSessionSoapIn">
		<wsdl:part element="tns:StartStatusSession" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StartStatusSessionSoapOut">
		<wsdl:part element="tns:StartStatusSessionResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StopStatusSessionSoapIn">
		<wsdl:part element="tns:StopStatusSession" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StopStatusSessionSoapOut">
		<wsdl:part element="tns:StopStatusSessionResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeEventStatusSoapIn">
		<wsdl:part element="tns:SubscribeEventStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeEventStatusSoapOut">
		<wsdl:part element="tns:SubscribeEventStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeDeviceStatusSoapIn">
		<wsdl:part element="tns:SubscribeDeviceStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeDeviceStatusSoapOut">
		<wsdl:part element="tns:SubscribeDeviceStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeHardwareStatusSoapIn">
		<wsdl:part element="tns:SubscribeHardwareStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeHardwareStatusSoapOut">
		<wsdl:part element="tns:SubscribeHardwareStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeConfigurationStatusSoapIn">
		<wsdl:part element="tns:SubscribeConfigurationStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscribeConfigurationStatusSoapOut">
		<wsdl:part element="tns:SubscribeConfigurationStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetStatusSoapIn">
		<wsdl:part element="tns:GetStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetStatusSoapOut">
		<wsdl:part element="tns:GetStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetCurrentDeviceStatusSoapIn">
		<wsdl:part element="tns:GetCurrentDeviceStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetCurrentDeviceStatusSoapOut">
		<wsdl:part element="tns:GetCurrentDeviceStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetCurrentHardwareStatusSoapIn">
		<wsdl:part element="tns:GetCurrentHardwareStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetCurrentHardwareStatusSoapOut">
		<wsdl:part element="tns:GetCurrentHardwareStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetRecorderStatusSoapIn">
		<wsdl:part element="tns:GetRecorderStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetRecorderStatusSoapOut">
		<wsdl:part element="tns:GetRecorderStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetRecordingStorageStatusSoapIn">
		<wsdl:part element="tns:GetRecordingStorageStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetRecordingStorageStatusSoapOut">
		<wsdl:part element="tns:GetRecordingStorageStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetArchiveStorageStatusSoapIn">
		<wsdl:part element="tns:GetArchiveStorageStatus" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetArchiveStorageStatusSoapOut">
		<wsdl:part element="tns:GetArchiveStorageStatusResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetVideoDeviceStatisticsSoapIn">
		<wsdl:part element="tns:GetVideoDeviceStatistics" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetVideoDeviceStatisticsSoapOut">
		<wsdl:part element="tns:GetVideoDeviceStatisticsResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetAudioDeviceStatisticsSoapIn">
		<wsdl:part element="tns:GetAudioDeviceStatistics" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetAudioDeviceStatisticsSoapOut">
		<wsdl:part element="tns:GetAudioDeviceStatisticsResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataDeviceStatisticsSoapIn">
		<wsdl:part element="tns:GetMetadataDeviceStatistics" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataDeviceStatisticsSoapOut">
		<wsdl:part element="tns:GetMetadataDeviceStatisticsResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="RecorderStatusService2Soap">
		<wsdl:operation name="GetVersion">
			<wsdl:input message="tns:GetVersionSoapIn"/>
			<wsdl:output message="tns:GetVersionSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="StartStatusSession">
			<wsdl:input message="tns:StartStatusSessionSoapIn"/>
			<wsdl:output message="tns:StartStatusSessionSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="StopStatusSession">
			<wsdl:input message="tns:StopStatusSessionSoapIn"/>
			<wsdl:output message="tns:StopStatusSessionSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SubscribeEventStatus">
			<wsdl:input message="tns:SubscribeEventStatusSoapIn"/>
			<wsdl:output message="tns:SubscribeEventStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SubscribeDeviceStatus">
			<wsdl:input message="tns:SubscribeDeviceStatusSoapIn"/>
			<wsdl:output message="tns:SubscribeDeviceStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SubscribeHardwareStatus">
			<wsdl:input message="tns:SubscribeHardwareStatusSoapIn"/>
			<wsdl:output message="tns:SubscribeHardwareStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SubscribeConfigurationStatus">
			<wsdl:input message="tns:SubscribeConfigurationStatusSoapIn"/>
			<wsdl:output message="tns:SubscribeConfigurationStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<wsdl:input message="tns:GetStatusSoapIn"/>
			<wsdl:output message="tns:GetStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentDeviceStatus">
			<wsdl:input message="tns:GetCurrentDeviceStatusSoapIn"/>
			<wsdl:output message="tns:GetCurrentDeviceStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentHardwareStatus">
			<wsdl:input message="tns:GetCurrentHardwareStatusSoapIn"/>
			<wsdl:output message="tns:GetCurrentHardwareStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetRecorderStatus">
			<wsdl:input message="tns:GetRecorderStatusSoapIn"/>
			<wsdl:output message="tns:GetRecorderStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetRecordingStorageStatus">
			<wsdl:input message="tns:GetRecordingStorageStatusSoapIn"/>
			<wsdl:output message="tns:GetRecordingStorageStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetArchiveStorageStatus">
			<wsdl:input message="tns:GetArchiveStorageStatusSoapIn"/>
			<wsdl:output message="tns:GetArchiveStorageStatusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetVideoDeviceStatistics">
			<wsdl:input message="tns:GetVideoDeviceStatisticsSoapIn"/>
			<wsdl:output message="tns:GetVideoDeviceStatisticsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAudioDeviceStatistics">
			<wsdl:input message="tns:GetAudioDeviceStatisticsSoapIn"/>
			<wsdl:output message="tns:GetAudioDeviceStatisticsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetMetadataDeviceStatistics">
			<wsdl:input message="tns:GetMetadataDeviceStatisticsSoapIn"/>
			<wsdl:output message="tns:GetMetadataDeviceStatisticsSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RecorderStatusService2Soap" type="tns:RecorderStatusService2Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetVersion">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetVersion" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartStatusSession">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/StartStatusSession" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StopStatusSession">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/StopStatusSession" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeEventStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeEventStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeDeviceStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeDeviceStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeHardwareStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeHardwareStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeConfigurationStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeConfigurationStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentDeviceStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetCurrentDeviceStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentHardwareStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetCurrentHardwareStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRecorderStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetRecorderStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRecordingStorageStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetRecordingStorageStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetArchiveStorageStatus">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetArchiveStorageStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetVideoDeviceStatistics">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetVideoDeviceStatistics" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAudioDeviceStatistics">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetAudioDeviceStatistics" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMetadataDeviceStatistics">
			<soap:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetMetadataDeviceStatistics" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="RecorderStatusService2Soap12" type="tns:RecorderStatusService2Soap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetVersion">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetVersion" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StartStatusSession">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/StartStatusSession" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StopStatusSession">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/StopStatusSession" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeEventStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeEventStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeDeviceStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeDeviceStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeHardwareStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeHardwareStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SubscribeConfigurationStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/SubscribeConfigurationStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentDeviceStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetCurrentDeviceStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentHardwareStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetCurrentHardwareStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRecorderStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetRecorderStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRecordingStorageStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetRecordingStorageStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetArchiveStorageStatus">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetArchiveStorageStatus" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetVideoDeviceStatistics">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetVideoDeviceStatistics" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAudioDeviceStatistics">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetAudioDeviceStatistics" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMetadataDeviceStatistics">
			<soap12:operation soapAction="http://video.net/2/XProtectCSRecorderStatus2/GetMetadataDeviceStatistics" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RecorderStatusService2">
		<wsdl:port binding="tns:RecorderStatusService2Soap" name="RecorderStatusService2Soap">
			<soap:address location="http://192.168.1.199:7563/recorderstatusservice/recorderstatusservice2.asmx"/>
		</wsdl:port>
		<wsdl:port binding="tns:RecorderStatusService2Soap12" name="RecorderStatusService2Soap12">
			<soap12:address location="http://192.168.1.199:7563/recorderstatusservice/recorderstatusservice2.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>