isc-main/isc-integration-mip/src/main/resources/wsdl/ServiceRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServiceRegistrationService" targetNamespace="http://tempuri.org/" xmlns:i0="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01" xmlns:i1="urn:videoos:management:server:serviceregistrationservice" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsp:Policy wsu:Id="BasicHttpBinding_IServiceRegistrationService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict/>
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:import location="./ServiceRegistrationService/ServiceRegistrationService_wsdl0.wsdl" namespace="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01"/>
	<wsdl:import location="./ServiceRegistrationService/ServiceRegistrationService_wsdl1.wsdl" namespace="urn:videoos:management:server:serviceregistrationservice"/>
	<wsdl:types/>
	<wsdl:binding name="BasicHttpBinding_IServiceRegistrationService" type="i0:IServiceRegistrationService">
		<wsp:PolicyReference URI="#BasicHttpBinding_IServiceRegistrationService_policy"/>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RegisterService">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/RegisterService" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RegisterServiceWithEndpoints">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/RegisterServiceWithEndpoints" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UnregisterService">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/UnregisterService" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EnableService">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/EnableService" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServices">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/GetServices" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServicesIncludingDisabled">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/GetServicesIncludingDisabled" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetServiceData">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/SetServiceData" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServiceData">
			<soap:operation soapAction="http://schemas.videoos/ServiceRegistrationService/2008/06/Vmo/01/IServiceRegistrationService/GetServiceData" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceRegistrationService">
		<wsdl:port binding="tns:BasicHttpBinding_IServiceRegistrationService" name="BasicHttpBinding_IServiceRegistrationService">
			<soap:address location="https://desktop-6q9rcaj/ManagementServer/ServiceRegistrationService.svc"/>
		</wsdl:port>
		<wsdl:port binding="i1:WSHttpBinding_IServiceRegistrationService" name="WSHttpBinding_IServiceRegistrationService">
			<soap12:address location="http://192.168.1.199/ManagementServer/ServiceRegistrationService.svc"/>
			<wsa10:EndpointReference>
				<wsa10:Address>http://192.168.1.199/ManagementServer/ServiceRegistrationService.svc</wsa10:Address>
				<Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
					<Spn>host/DESKTOP-6Q9RCAJ</Spn>
				</Identity>
			</wsa10:EndpointReference>
		</wsdl:port>
		<wsdl:port binding="i1:WSHttpBinding_IServiceRegistrationService" name="WSHttpBinding_IServiceRegistrationService1">
			<soap12:address location="urn:videoos:management:server:serviceregistrationservice"/>
			<wsa10:EndpointReference>
				<wsa10:Address>urn:videoos:management:server:serviceregistrationservice</wsa10:Address>
				<Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
					<Spn>host/DESKTOP-6Q9RCAJ</Spn>
				</Identity>
			</wsa10:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>